%% -----------------------------------------------------------------------------
%%
%% rebar.config: SBSDB - rebar3 configuration file.
%%
%% -----------------------------------------------------------------------------

{cover_enabled, true}.
{cover_export_enabled, true}.
{cover_opts, [verbose]}.

{coveralls_coverdata, [
    "_build/test/cover/ct.coverdata",
    "_build/test/cover/eunit.coverdata"
]}.
{coveralls_service_name, "travis-ci"}.

{ct_opts, [
    {cover},
    {verbose}
]}.

{deps, [{plsql_parser, {git, "https://github.com/K2InformaticsGmbH/plsql_parser", {branch, "master"}}}]}.
{deps_error_on_conflict, true}.

{dialyzer_plt_location, local}.
{dialyzer_warnings, [
    error_handling,
    overspecs,
    race_conditions,
    specdiffs,
    underspecs,
    unknown,
    unmatched_returns
]}.

{eunit_opts, [
    {skip_deps, true},
    verbose
]}.

{profiles, [
    {test, [
        {plugins, [
            {coveralls, {git, "https://github.com/markusn/coveralls-erl", {branch, "master"}}},
            {geas_rebar3, {git, "https://github.com/crownedgrouse/geas_rebar3.git", {branch, "master"}}}
        ]}
    ]}
]}.
